:root {
    --red: hsl(348, 97%, 39%);
    /*Primary*/
    --peach: hsl(11, 73%, 66%);
    --light-grayish-peach: hsl(14, 76%, 97%);
    --black: hsl(270, 3%, 11%);
    --white: hsl(0, 0%, 100%);
    /*Secondary*/
    --light-peach: hsl(11, 100%, 80%);
    --dark-grey: hsl(264, 5%, 20%);
    --light-grey: hsl(210, 17%, 95%);
}