.topbar {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px var(--black);
    background: var(--white);
}

.logo_pages {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_part {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 50px;
    width: 20%;
    height: 100%;
    text-decoration: none;
    cursor: default;
}

.logo_part .text {
    color: var(--dark-grey);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.logo_part .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: var(--black);
    background: linear-gradient(225deg, hsl(37, 97%, 70%) 0%, hsl(5, 77%, 71%) 100%);
    margin-right: 10px;
}

.pages {
    width: 80%;
    height: 100%;
    padding: 0 50px;
}

.pages ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.pages ul li {
    list-style: none;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages ul li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--dark-grey);
    padding: 27px 15px;
    text-align: center;
    transition: 0.3s ease;  
}

.pages ul li a:hover {
    background: var(--light-grayish-peach);
}

.register {
    width: 70%;
    height: 450px;
    margin: 120px auto 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.register .text {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    background: var(--peach);
    color: var(--white);
    pointer-events: none;
}

.register .text .title {
    font-size: 36px;
    margin-bottom: 20px;
}

.register .text .desc {
    position: relative;
    font-size: 16px;
}

.register .text .desc::before {
    content: "";
    position: absolute;
    width: 170%;
    height: 700%;
    top: -446%;
    left: -15%;
    z-index: -1;
    background-image: url(../../svg/bg-pattern-hero-home.svg);
    background-size: cover;
    background-position: top;
    transform: rotate(180deg);
}

.register .log {
    position: absolute;
    width: 54%;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--peach);
}

.register .log input {
    width: 80%;
    border: none;
    outline: none;
    padding: 15px 5px;
    font-size: 14px;
    background: transparent;
    color: var(--white);
}

.register .log input::placeholder {
    color: var(--light-grey);
    opacity: 85%;
}

.register .log hr {
    width: 85%;
    border: 1px solid var(--white);
    margin-bottom: 20px;
}

.register .log div {
    width: 85%;
    height: 20px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    color: var(--red);
    display: none;
}

.register .log div p {
    width: 90%;
    font-size: 13px;
}

.register .log div div {
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
}

.register .log .btn {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.register .log .btn button {
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--black);
}

.register .log .btn button:hover {
    color: var(--peach);
}

.cards {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 100px auto;
    position: relative;
    overflow: hidden;
}

.cards::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    top: 20%;
    left: 50%;
    z-index: -1;
    background-image: url(../../svg/bg-pattern-leaf.svg);
    background-size: 100%;
    background-position: right;
    transform: rotate(180deg);
}

.cards .card {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards .card .svg {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.cards .card .svg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(../../svg/bg-pattern-hero-home.svg);
    background-size: 100%;
    background-position: center;
}

.cards .card.canada .svg::before {
    transform: rotate(0);
}

.cards .card.australia .svg::before {
    transform: rotate(180deg);
}

.cards .card .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards .card .text .title {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color: var(--black);
}

.cards .card .text button {
    padding: 15px 30px;
    text-transform: uppercase;
    border: 2px solid transparent;
    background: var(--peach);
    border-radius: 6px;
    color: var(--white);
    font-weight: 500;
}

.cards .card .text button:hover {
    background: var(--white);
    color: var(--peach);
    border: 2px solid var(--peach);
}

.bottombar {
    width: 100%;
    background: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 100px 80px 100px;
}

.bottombar .foot_logopages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottombar .foot_logopages .foot_logo_part {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.bottombar .foot_logopages .foot_logo_part .foot_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: var(--black);
    background: linear-gradient(225deg, hsl(37, 97%, 70%) 0%, hsl(5, 77%, 71%) 100%);
    margin-right: 10px;
}

.bottombar .foot_logopages .foot_logo_part .foot_text {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    pointer-events: none;
}

.bottombar .foot_logopages .foot_pages {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottombar .foot_logopages .foot_pages ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.bottombar .foot_logopages .foot_pages ul li {
    width: 30%;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottombar .foot_logopages .foot_pages ul li a {
    text-decoration: none;
    color: lightgrey;
    width: 100%;
    height: 100%;
    padding: 27px 0;
    text-align: right;
}

.bottombar .foot_logopages .foot_pages ul li a:hover {
    color: var(--peach);
}

.bottombar .foot_infos {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.bottombar .foot_infos .infos_text {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgrey;
}

.bottombar .foot_infos .infos_text .infos_office {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.bottombar .foot_infos .infos_text .infos_office .infos_office_location,
.bottombar .foot_infos .infos_text .infos_office .infos_office_town,
.bottombar .foot_infos .infos_text .infos_contact .infos_contact_number,
.bottombar .foot_infos .infos_text .infos_contact .infos_contact_mail {
    font-size: 14px;
}

.bottombar .foot_infos .infos_text .infos_office .infos_office_title,
.bottombar .foot_infos .infos_text .infos_contact .infos_contact_title {
    font-size: 16px;
    font-weight: 500;
}

.bottombar .foot_infos .infos_text .infos_contact {
    width: 50%;
}

.bottombar .foot_infos .infos_logos {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottombar .foot_infos .infos_logos div {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
    color: var(--white);
    margin-bottom: 40px;
}