.topbar {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px var(--black);
    background: var(--white);
}

.logo_pages {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_part {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 50px;
    width: 20%;
    height: 100%;
    text-decoration: none;
    cursor: default;
}

.logo_part .text {
    color: var(--dark-grey);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.logo_part .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: var(--black);
    background: linear-gradient(225deg, hsl(37, 97%, 70%) 0%, hsl(5, 77%, 71%) 100%);
    margin-right: 10px;
}

.pages {
    width: 80%;
    height: 100%;
    padding: 0 50px;
}

.pages ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.pages ul li {
    list-style: none;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages ul li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--dark-grey);
    padding: 27px 15px;
    text-align: center;
    transition: 0.3s ease;  
}

.pages ul li a:hover {
    background: var(--light-grayish-peach);
}

.web_design {
    background-image: 
        url(../../svg/bg-pattern-design-pages-intro-tablet.svg),
        linear-gradient(
            to right,
            rgba(232, 128, 105, 1),
            rgba(232, 128, 105, 1)
        );
    background-size: cover;
    background-position: center;
    position: relative;
    width: 70%;
    height: 300px;
    margin: 150px auto 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.web_design .web_design_title {
    font-size: 36px;
    font-weight: 500;
    color: var(--white);
}

.web_design .web_design_text {
    font-size: 18px;
    color: var(--white);
}

.web_design .web_design_btn:hover {
    background: var(--light-grayish-peach);
    color: var(--peach);
}

.designs {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 0 auto;
    position: relative;
}

.designs::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    top: -20%;
    left: -20%;
    z-index: -1;
    background-image: url(../../svg/bg-pattern-hero-home.svg);
    background-size: 100%;
    background-position: top;
    opacity: 0.4;
}

.designs .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.designs .card .card_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px 20px;
    height: 130px;
    background: var(--light-grayish-peach);
}

.designs .card .card_text .card_text_title {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.designs .card .card_text .card_text_desc {
    text-align: center;
}

.designs .card img {
    width: 100%;
}

.projects {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 80px auto 330px auto;
}

.projects .card {
    width: 100%;
    height: 280px;
    border-radius: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.projects .card:hover {
    color: var(--peach);
}

.projects .card:hover .card_view .card_view_svg {
    color: var(--white);
}

.projects .card.app {
    background-image:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../../images/home/desktop/image-app-design.jpg);
    background-size: cover;
    background-position: center;
}

.projects .card.app:hover {
    background-image:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url(../../images/home/desktop/image-app-design.jpg);
    background-size: cover;
    background-position: center;
}

.projects .card.graphic {
    background-image:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../../images/home/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-position: center;
}

.projects .card.graphic:hover {
    background-image:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url(../../images/home/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-position: center;
}

.card .card_title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 6px;
}

.card .card_view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 31%;
}

.card .card_view .card_view_svg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--peach);
}

.card .card_view .card_view_text {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.talk_project {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -251%;
    background-image: 
        url(../../svg/bg-pattern-design-pages-intro-tablet.svg),
        linear-gradient(
            to right,
            rgba(232, 128, 105, 1),
            rgba(232, 128, 105, 1)
        );
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 10px;
    padding: 50px 70px;
}

.talk_text {
    width: 80%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.talk_text .title {
    width: 30%;
    font-size: 28px;
    margin-bottom: 10px;
}

.talk_text .desc {
    width: 75%;
    font-size: 18px;
}

.talk_btn {
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    background: var(--white);
    text-transform: uppercase;
    font-size: 13px;
    color: var(--black);
}

.talk_btn:hover {
    color: var(--peach);
}

.bottombar {
    width: 100%;
    background: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 100px 80px 100px;
}

.bottombar .foot_logopages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottombar .foot_logopages .foot_logo_part {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.bottombar .foot_logopages .foot_logo_part .foot_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: var(--black);
    background: linear-gradient(225deg, hsl(37, 97%, 70%) 0%, hsl(5, 77%, 71%) 100%);
    margin-right: 10px;
}

.bottombar .foot_logopages .foot_logo_part .foot_text {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    pointer-events: none;
}

.bottombar .foot_logopages .foot_pages {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottombar .foot_logopages .foot_pages ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.bottombar .foot_logopages .foot_pages ul li {
    width: 30%;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottombar .foot_logopages .foot_pages ul li a {
    text-decoration: none;
    color: lightgrey;
    width: 100%;
    height: 100%;
    padding: 27px 0;
    text-align: right;
}

.bottombar .foot_logopages .foot_pages ul li a:hover {
    color: var(--peach);
}

.bottombar .foot_infos {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.bottombar .foot_infos .infos_text {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgrey;
}

.bottombar .foot_infos .infos_text .infos_office {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.bottombar .foot_infos .infos_text .infos_office .infos_office_location,
.bottombar .foot_infos .infos_text .infos_office .infos_office_town,
.bottombar .foot_infos .infos_text .infos_contact .infos_contact_number,
.bottombar .foot_infos .infos_text .infos_contact .infos_contact_mail {
    font-size: 14px;
}

.bottombar .foot_infos .infos_text .infos_office .infos_office_title,
.bottombar .foot_infos .infos_text .infos_contact .infos_contact_title {
    font-size: 16px;
    font-weight: 500;
}

.bottombar .foot_infos .infos_text .infos_contact {
    width: 50%;
}

.bottombar .foot_infos .infos_logos {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottombar .foot_infos .infos_logos div {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
    color: var(--white);
    margin-bottom: 40px;
}